<div class="container row">
    <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <div class="well prospectus-well">
            <figure>
                <img style="max-width: 100%; margin:0 auto;" ng-src="css/images/cobc-logo.png" />
            </figure>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="well prospectus-well">
                    <div class="row" style="margin-bottom: 10px;">
                        <h3>
                            <span ng-show="step == 1">Simply select, click and go.</span>
                        </h3>
                    </div>
                    <div class="row">
                        <form name="form_1" ng-show="step == 1">
                            <div class="row">
                                <div class="col-xs-11">
                                    <div class="form-group">
                                        <select style="margin-bottom: 5px; color: #555555;" class="form-control" ng-model="product.Specs.vCourse1.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
                                            <option value="">What courses are you interested in? (required)</option>
                                        </select>
                                        <select style="margin-bottom: 5px; color: #555555;" class="form-control" ng-model="product.Specs.vCourse2.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
                                            <option value="">What courses are you interested in? (required)</option>
                                        </select>
                                        <select style="margin-bottom: 5px; color: #555555;" class="form-control" ng-model="product.Specs.vCourse3.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
                                            <option value="">What courses are you interested in? (required)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight:600;">Not seeing what you want?</h4>
                            <div class="form-group">
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="col-xs-11">
                                        <input class="form-control" ng-maxlength="100" placeholder="What course(s) would you like to do that aren't listed above?" type="text" autocomplete="off" ng-model="product.Specs.RequestCourse.Value"></input>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight:600;">Almost done...</h4>
                            <div class="form-group">
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="col-xs-5">
                                        <input class="form-control" ng-maxlength="100" placeholder="Your first name (required)" type="text" autocomplete="off" ng-model="product.Specs.vFirstName.Value"></input>
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" ng-maxlength="100" placeholder="Your last name (required)" type="text" autocomplete="off" ng-model="product.Specs.vLastName.Value"></input>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="col-xs-11">
                                        <input class="form-control" ng-maxlength="100" placeholder="Your age (required)" type="text" autocomplete="off" ng-model="product.Specs.Age.Value"></input>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="col-xs-11">
                                        <select class="form-control" style="color: #555555" ng-model="product.Specs.HighestQualification.Value" ng-options="option.Value as option.Value for option in product.Specs.HighestQualification.Options">
                                            <option value="">Your highest qualification (required)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="col-xs-11">
                                        <input class="form-control" ng-maxlength="100" placeholder="Email address (required)" type="text" autocomplete="off" ng-model="product.Specs.Email.Value"></input>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <input class="form-control" ng-maxlength="100" placeholder="And finally, your mobile" type="text" autocomplete="off" ng-model="product.Specs.Mobile.Value"></input>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="fa-stack" popover-placement="right" popover-trigger="mouseenter" popover="Help text here">
                                          <i class="fa fa-circle fa-stack-1x" style="color:#fff; font-size:0.8em;"></i>
                                          <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div ng-show="step == 2">
                            <div class="row text-center">
                                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                                    <h3><b>Thank you!</b></h3>
                                    <p class="lead">You'll soon receive an email with a link to download your personalised HE Course Guide</p>
                                    <p class="lead">Visit our website at <a href="http://www.cityofbristol.ac.uk" target="_blank" style="color: #fff; text-decoration: underline;">www.cityofbristol.ac.uk</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="btn btn-info" style="width: 100%; font-size: 20px;" ng-show="step == 1" ng-click="submitProspectus()"
                                        ng-disabled="!product.Specs.vFirstName.Value || !product.Specs.vLastName.Value || !product.Specs.Age.Value ||
                                                    !product.Specs.HighestQualification.Value || !product.Specs.Email.Value">
                                    Order my prospectus
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>