<div class="prospectus-container">
	<div class="well">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8 col-xs-8 col-xs-offset-2">
				<figure>
					<img class="logo" ng-src="css/images/cobc-logo-dark.png" />
				</figure>
			</div>
		</div>
		<div ng-show="step == 1">
			<div class="prospectus-bar">
				<h1>Simply select, click, and go.</h1>
			</div>
			<form name="form_1">


				<h2>Group 1</h2>
				<div class="form-group">
					<input class="form-control" ng-maxlength="100" placeholder="Title" type="text" autocomplete="off" ng-model="product.Specs.Title.Value"/>
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control first-name-input" ng-maxlength="100" placeholder="Your first name (required)" type="text" autocomplete="off" ng-model="product.Specs.vFirstName.Value"/>
						</div>
						<div class="col-sm-6">
							<input class="form-control" ng-maxlength="100" placeholder="Your last name (required)" type="text" autocomplete="off" ng-model="product.Specs.vLastName.Value"/>
						</div>
					</div>
					<input class="form-control" ng-maxlength="100" placeholder="Date of Birth (required DD/MM/YYYY)" type="text" autocomplete="off" ng-model="product.Specs.DateOfBirth.Value"/>
					<input class="form-control" ng-maxlength="100" placeholder="Email address (required)" type="email" autocomplete="off" ng-model="product.Specs.Email.Value" ng-pattern="/^(([^<>()[\]\\.,;:\s@\']+(\.[^<>()[\]\\.,;:\s@\']+)*)|(\'.+\'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/"/>
					<input class="form-control" ng-maxlength="100" placeholder="And finally, your mobile" type="text" autocomplete="off" ng-model="product.Specs.Mobile.Value"/>
				</div>


				<h2>Group 2</h2>
				<div class="form-group">
					<input class="form-control" ng-maxlength="100" placeholder="Address 1" type="text" autocomplete="off" ng-model="product.Specs.vAdd1.Value"/>
					<input class="form-control" ng-maxlength="100" placeholder="Address 2" type="text" autocomplete="off" ng-model="product.Specs.vAdd2.Value"/>
					<input class="form-control" ng-maxlength="100" placeholder="Address 3" type="text" autocomplete="off" ng-model="product.Specs.vAdd3.Value"/>
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" ng-maxlength="100" placeholder="City" type="text" autocomplete="off" ng-model="product.Specs.City.Value"/>
						</div>
						<div class="col-sm-6">
							<input class="form-control" ng-maxlength="100" placeholder="Postcode" type="text" autocomplete="off" ng-model="product.Specs.vPostcode.Value"/>
						</div>
					</div>
				</div>


				<h2>Group 3</h2>
				<div class="form-group">
					<input class="form-control" ng-maxlength="100" placeholder="{{product.Specs.PreferredYearOfStudy.Label}}" type="text" autocomplete="off" ng-model="product.Specs.PreferredYearOfStudy.Value"/>
					<select class="form-control" ng-model="product.Specs.vCourse1.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
						<option value="">Subject Area 1</option>
					</select>
					<select class="form-control" ng-model="product.Specs.vCourse2.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
						<option value="">Subject Area 2</option>
					</select>
					<select class="form-control" ng-model="product.Specs.vCourse3.Value" ng-options="option.Value as option.Value for option in product.Specs.vCourse1.Options">
						<option value="">Subject Area 3</option>
					</select>
					<select class="form-control" ng-model="product.Specs.vPrintCopy.Value" ng-options="option.Value as option.Value for option in product.Specs.vPrintCopy.Options">
						<option value="">{{product.Specs.vPrintCopy.Label}}</option>
					</select>
					<input class="form-control" ng-maxlength="100" placeholder="{{product.Specs.CurrentSchool.Label}}" type="text" autocomplete="off" ng-model="product.Specs.CurrentSchool.Value"/>

					<select class="form-control" ng-model="product.Specs.HowDidYouHear.Value" ng-options="option.Value as option.Value for option in product.Specs.HowDidYouHear.Options">
						<option value="">{{product.Specs.HowDidYouHear.Label}}</option>
					</select>
				</div>
			</form>
			<div class="btn btn-info btn-lg btn-block" ng-click="submitProspectus()"
				 ng-disabled="!product.Specs.vFirstName.Value || !product.Specs.vLastName.Value || !product.Specs.DateOfBirth.Value ||
                                            !product.Specs.PreferredYearOfStudy.Value || !product.Specs.Email.Value">
				Order my prospectus
			</div>
		</div>
		<div ng-show="step == 2">
			<div class="prospectus-bar">
				<h1 class="text-center">Thank You!</h1>
			</div>
			<h2 class="text-center">You'll soon receive an email with a link <br/> to download your personalised HE Course Guide</h2>
			<p class="text-center">Visit our website at <a href="http://www.cityofbristol.ac.uk" target="_blank">www.cityofbristol.ac.uk</a></p>
		</div>
	</div>
</div>